Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  readability-identifier-naming,
  readability-misleading-indentation,
  readability-redundant-declaration,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-assignment-in-if-condition,
  -bugprone-macro-parentheses,
  -misc-no-recursion,
  -misc-include-cleaner,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -performance-no-int-to-ptr,

WarningsAsErrors: ''

HeaderFilterRegex: 'include/numc/.*\.h$'

CheckOptions:
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.FunctionIgnoredRegexp
    value: '^_.*'
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.TypedefCase
    value: CamelCase
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
